/* common styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background-color: rgb(245, 248, 255);;
}
.container{
    max-width: 1280px;
    margin: auto;
}
h3{
    font-family: "Noto Serif", serif;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 48px;
}
nav a{
    text-decoration: none;
    color: #8987A1;
    font-size: 16px;
    font-weight: 400;
}
#home-link {
    color: black;
    font-weight: 700;
}
#cart-link {
    color: black;
}
/* banner styles */
.full-banner{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 120px;
}
.banner-left{
    
}
.banner-left h2{
    color: black;
    font-size: 65px;
    font-weight: 700;
    font-family: "Noto Serif", serif;
}
span{
      font-family: "Noto Serif", serif;
}
.banner-left p{
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 13px;
}
.full-banner img{
    max-width: 100%;
    border: ;
}
/* plants styles */
.plants-chart{
    margin-top: 120px;
    
}
.single-card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px ;
}
.headlines{
    text-align: center;
    margin-bottom: 49px;
    align-items: center;
}
.headlines h3{
    font-size: 55px;
    font-weight: 700;
    font-family: "Noto Serif", serif;
}
.headlines p{
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.5);
    
}

.flower-name{
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 10px;
}
.price-tag{
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
}

.single-card .btn{
    background-color: rgb(233, 90, 8);
    padding: 0 auto;
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border: none;
    border-radius: 8px;
    color: white;
}
.plant-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.single-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.10);
}

/* Plants Lover Styles */
.plants-lover{
    margin-top: 210px;
}
.plants-lover-left{

    /* position: relative; */
}
.badge-img{
    width: 60px;
    height: 60px;
    position: relative;
}
.badge-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 500px;
    top: -650px;
    background: transparent;

}
.plants-lover-left img{
    width: 100%;
    height: auto;
    object-fit: cover;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.10); */
    
}
.whole-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.plants-lover-right{
    flex: 1;
    /* padding: 38px ; */
    border: 0 0 0 2px solid black;
    width: 100%;
}
.plants-lover-right h3{
    font-family: "Noto Serif", serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 68px;
    /* text-align: left; */
    padding: 0px;
    margin-bottom: 20px;
}
.plants-lover-right ul{
    font-size: 22px;
    font-weight: 400;
    
    padding-left: 20px;
    /* text-align: left; */
    list-style-position: inside;
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
}
.plants-lover-right li{
    margin-bottom: 20px;
    line-height: 27px;
}

/* latest deal styles */
.latest-pics{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}



/* responsive styles */
@media screen and (max-width: 576px) {
    .navbar {
        justify-content: space-between;
        margin-left: 16px;
        margin-right: 16px;
    }
    nav ul {
        width: 100%;
        justify-content: space-between;
        gap: 0;
    }
    nav ul li:not(:last-child) {
        display: none;
    }
    .navbar img {
        max-width: 63px;
        height: auto;
    }
    /* banner section */
    .full-banner{
        flex-direction: column-reverse;
        margin-left: 16px;
        margin-right: 16px;
    }
    .banner-left{
        margin-top: 28px;
    }
    .banner-left h2{
        font-size: 24px;
    }
    .banner-left p{
        font-size: 14px;
    }
    /* plants responsive  */
    .plant-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
            margin-left: 16px;
        margin-right: 16px;
    }

    /* plants lover responsive */
    .whole-section{
        flex-direction: column;
    }
    .plants-lover-right{
        margin-top: -42px;
    }
    .plants-lover-right h3{
        font-size: 24px;
        line-height: 33px;
    }
    .plants-lover-right br{
        display: none;
    }
    .plants-lover-right ul{
        font-size: 16px;
    }
    .plants-lover-right li{
        margin-bottom: 10px;
    }
    .plants-lover{
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 42px;
    }
}