/* common styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    /* background-color: rgb(245, 248, 255); */
}
body{
    background-color: rgb(243, 246, 255);
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
h3{
    font-family: "Noto Serif", serif;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 48px;
}
nav a{
    text-decoration: none;
    color: #8987A1;
    font-size: 16px;
    font-weight: 400;
}
#home-link {
    color: black;
    font-weight: 700;
}
#cart-link {
    color: black;
}
/* banner styles */
.full-banner{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 120px;
}
.banner-left{
    /* border: 2px solid black; */
}
.banner-left h2{
    color: black;
    font-size: 65px;
    font-weight: 700;
    font-family: "Noto Serif", serif;
}
span{
      font-family: "Noto Serif", serif;
}
.banner-left p{
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 13px;
}
.full-banner img{
    max-width: 100%;
}
/* plants styles */
.plants-chart{
    margin-top: 120px;
    
}
.single-card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px ;
}
.headlines{
    text-align: center;
    margin-bottom: 49px;
    align-items: center;
    padding-inline: 30px;
}
.headlines h3{
    font-size: 55px;
    font-weight: 700;
    font-family: "Noto Serif", serif;
    margin-bottom: 16px;
}
.headlines p{
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.5);
    
}

.flower-name{
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 10px;
}
.price-tag{
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
}

.single-card .btn{
    background-color: rgb(233, 90, 8);
    padding: 0 auto;
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border: none;
    border-radius: 8px;
    color: white;
}
.plant-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.single-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.10);
}

/* Plants Lover Styles */
.plants-lover{
    margin-top: 210px;
}
.plants-lover-left{
    position: relative;
}

.plants-lover-img{
    /* width: 100%;
    height: auto;
    object-fit: cover; */
    width: 100%;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.badge{
    background-color: transparent;
    width: 240px;
    height: 240px;
    position: absolute;
    right: -100px;
    top: -100px;
}
.whole-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.plants-lover-right{
    flex: 1;
    /* padding: 38px ; */
    width: 100%;
    box-shadow: 0 0 4px rgba(0,0,0,0.05);
}
.plants-lover-right h3{
    font-family: "Noto Serif", serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 68px;
    /* text-align: left; */
    padding: 0px;
    margin-bottom: 20px;
}
.plants-lover-right ul{
    font-size: 22px;
    font-weight: 400;
    
    padding-left: 20px;
    /* text-align: left; */
    list-style-position: inside;
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
}
.plants-lover-right li{
    margin-bottom: 20px;
    line-height: 27px;
}

/* latest deal styles */
.latest-deals{
    margin-top: 80px;
    margin-bottom: 80px;
}
.latest-text h3{
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}
.latest-text span{
    color: #E95A08;
}
.latest-text p{
    font-size: 22px;
    color: #8987A1;
    width: 888px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 120px;
}
.latest-pic{
    display: flex;
    justify-content: space-between;
    height: 422px;
    width: auto;
}
.left-side{
    width: 34%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-side h3{
    position: absolute;
    top: 35%;
    left: 25%;
    background-color: transparent;
    color: white;
    z-index: 2;
    font-size: 20px;
    font-weight: 700;
}
.left-side a{
    position: absolute;
    background-color: transparent;
    color: white;
    top: 55%;
    left: 40%;
    z-index: 2;
    font-size: 16px;
    font-weight: 600;
}
.left-first{
    background-image: url("../assets/deal-bloom.png");
    border-radius: 12px;
    background-size: cover;
    height: 47%;
    width: 100%;
    object-fit: cover;
    position: relative;
}
.overlay{
    position: absolute;
    border-radius: 12px;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.left-second{
    background-image: url("../assets/deal-ana.png");
    border-radius: 12px;
    background-size: cover;
    position: relative;
    height: 47%;
    width: 100%;
    object-fit: cover;
}

.right-side{
    background-image: url("../assets/deal-zabo.png");
    border-radius: 12px;
    width: 64%;
    position: relative;
}
.right-side h3{
    background-color: transparent;
    color: white;
    position: absolute;
    z-index: 2;
    font-size: 32px;
    font-weight: 700;
    top: 40%;
    left: 28%;
}
.right-side a{
    background-color: transparent;
    color: white;
    position: absolute;
    z-index: 2;
    font-size: 25px;
    top: 55%;
    left: 40%;
    font-weight: 600;
}



/* Join Styles */
.join{
    max-width: 1440px;
    height: 533px;
    margin: auto;
    margin-top: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;       
    justify-content: center;      
    align-items: center;  
     background: 
        linear-gradient(rgba(7, 51, 79, 0.4), rgba(7, 51, 79, 0.4)),
        url('news-letter-bg.png');
    background-repeat: no-repeat;
}
.join-headline{
    
    
}
.join-headline h3{
    font-size: 55px;
    font-weight: 700;
    font-family: "Noto Serif", serif;
    color: white;
    margin-bottom: 16px;
}


.subscription {
    
    margin: 0;
    display: flex;
}

.subscription input {
    box-sizing: border-box;
    width: 644px;
    height: 50px;
    padding-block: 20px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    margin: 0;
}

.subscription button {
    box-sizing: border-box;
    width: 186px;
    height: 50px;
    font-size: 16px;
font-weight: 600;
background-color: rgb(233, 90, 8);
color: white;
border: none;
margin: 0;
}
/* footer styles */
    .whole-footer {
    display: flex;
    padding: 50px 0;
    width: 100%;
    box-sizing: border-box;
}
.left-footer{
    flex: 1;
    align-items: flex-start;
}
.left-footer p{
    color: #8987A1;
    font-size: 22px;
    font-weight: 400;
    margin-top: 16px;
}
.center-footer{
    flex: 1;
    display: flex;
    justify-content: right;
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px 100px;
}
.footer-links li{
    margin: 5px 0 ;
}
.footer-links a{
    text-decoration: none;
    color: rgb(107, 114, 128);
    font-size: 16px;
    font-weight: 400;
}

.right-footer{
    flex: 1;
  display: flex;
  flex-direction: row;
  gap: 24px;
  
  justify-content: right;



}
.right-footer img{
    width: 36px;
    height: 36px;
}


/* responsive styles */
@media screen and (max-width: 576px) {
    .navbar {
        justify-content: space-between;
        margin-left: 16px;
        margin-right: 16px;
    }
    nav ul {
        width: 100%;
        justify-content: space-between;
        gap: 0;
    }
    nav ul li:not(:last-child) {
        display: none;
    }
    .navbar img {
        max-width: 63px;
        height: auto;
    }
    /* banner section */
    .full-banner{
        flex-direction: column-reverse;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 28px;
    }
    .banner-left{
        margin-top: 28px;
    }
    .banner-left h2{
        font-size: 24px;
    }
    .banner-left p{
        font-size: 14px;
    }

    /* plants responsive  */
    .plants-chart{
        margin-top: 65px;
    }
    .plant-cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 16px;
        margin-right: 16px;
    }
    .headlines{
        margin-bottom: 28px;
    }
    .headlines h3{
        font-size: 24px;
    }
    .headlines p{
        font-size: 14px;
    }
    .flower-name, .price-tag{
        font-size: 16px;
    }

    /* plants lover responsive */
    .whole-section{
        flex-direction: column;
    }
    .plants-lover-right{
        margin-top: -42px;
    }
    .plants-lover-right h3{
        font-size: 24px;
        line-height: 33px;
    }
    .plants-lover-right br{
        display: none;
    }
    .plants-lover-right ul{
        font-size: 14px;
        line-height: 17px;
    }
    .plants-lover-right li{
        margin-bottom: 10px;
    }
    .plants-lover{
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 42px;
    }
    .badge{
        display: none;
    }

    /* latest deal responsive */
    .latest-deals{
        margin-left: 16px;
        margin-right: 16px;
    }
    
    .latest-text h3{
        font-size: 24px;
    }
    .latest-text p{
        width: fit-content;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 40px;
    }
    .latest-pic{
        flex-direction: column;
        height: auto;
    }
    .latest-pic h3{
        font-size: 20px;
    }
    .latest-pic a{
        font-size: 16px;
    }
    .left-side{
        width: 100%;
    }
    .mob-overlay{
        border-radius: 0px;
    }
    .right-side{
        width: 100%;
        height: 200px;
    }
    .left-first{
        height: 200px;
        margin-bottom: 20px;
    }
    .left-second{
        height: 200px;
        border-radius: 0px;
        margin-bottom: 20px;
    }
    .left-first, .left-second, .right-side{
        background-size: cover;
        background-position: center;
    }
    



    /* join section responsive */
     .join {
        height: 275px;
        min-height: 275px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 16px;
        background-size: cover;
        margin-top: 40px;
    }
    .join-headline {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .join-headline h3 {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }
    .subscription {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0;
        width: 100%;
        margin-top: 12px;
    }
    .subscription input{
        width: 220px;
    }
    .subscription button{
        width: 100px;
    }

    /* footer responsive */
    .whole-footer{
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        width: fit-content;
    }
    .left-footer p{
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .center-footer{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .footer-links{
        grid-template-columns: repeat(1,1fr);
    }
    .right-footer{
        justify-content: flex-start;
    }
}